<h2>Olá {{ username }},</h2>

<p>
  Você acabou de se inscrever no Meetup {{ title }}.
</p>

<h3>Informações do Meetup</h3>

<p><b>Local:</b> {{ location }}</p>
<p><b>Data:</b> {{ dateString }}</p>
<p><b>Horário:</b> {{ timeString }}</p>
